# FILEPATH: /home/ohale/halo/tools/.gitignore

# Python
*.pyc
__pycache__/

# CSV files
*.xlsx
# *.csv


# Build Files
build/

input/*
output/*
archive/*
out/*
.vscode/*

_internal/
*.exe

dist/

*.rar

*.zip


_variables.json
